.my-card img:hover{
	transform: scale(1.1);
}
.my-card img{
	
	transition: all ease-in-out 0.5s;
}
.my-card .image{
   overflow: hidden;
}

.archive-like .heart{
	z-index: 99999999;
	right: -3px;
}
#app .card-header::after, .card-body::after, .card-footer::after{
	display: none;
}

.close-search{
  font-weight: bold;
  font-size: 24px;
  cursor: pointer;
  margin: 20px;
}

.filter_search{
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid;
    border-radius: 5px;
    color: #FC8DAF!important;	
    margin-right: 15px; 
    cursor: pointer;
}

.filter_category{
    font-size: 18px;
    font-weight: bold;    
    color: #FC8DAF!important; 
    margin-right: 20px; 
    margin-left: 20px; 
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}


.active-border-top::before{
  content: '';
  display: block;
  margin: 0 auto;
  background: #fc8daf;
  color: #FC8DAF!important;  
  width: 50px!important;
  height: 3px!important;
}



.filter_category img{
   transition: all 0.5s ease-in-out;
}
.filter_category:hover img{
   transform:  rotate(-30deg);

}

.flip-enter-active{
   animation: in 0.5s ease-in-out forwards;
}

.flip-leave-active{
   animation: out 0.5s ease-in-out forwards;
}
 @keyframes out {
    from {
      transform:  rotateY(0deg);
    }
    to {
      transform: rotateY(90deg);
    }

 }

  @keyframes in {
    from {
      transform: rotateY(90deg);
    }
    to {
      transform: rotateY(0deg);
    }

 }

.list-item {
  display: inline-block;
  margin-right: 10px;
}
.list-enter-active, .list-leave-active {
  transition: all 1s;
}
.list-enter, .list-leave-to /* .list-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: translateY(30px);
}

.fade-enter-active{
  transition: all 1s ;
}
.fade-leave-active{
  transition: all 0.2s ;
}
.fade-leave-to{
  transform: translate(-100%);
  opacity: 0;
}
.fade-enter{
  transform: translate(100%);
  
}

.search-enter-active, .search-leave-active {
  transition: opacity .5s;
  
}
.search-enter, .search-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
