.my-card img:hover{
	transform: scale(1.1);
}
.my-card img{
	
	transition: all ease-in-out 0.5s;
}
.my-card .image{
   overflow: hidden;
}

.archive-like .heart{
	z-index: 99999999;
	right: -3px;
}
#app .card-header::after, .card-body::after, .card-footer::after{
	display: none;
}

.close-search{
  font-weight: bold;
  font-size: 24px;
  cursor: pointer;
  margin: 20px;
}

.filter_search{
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid;
    border-radius: 5px;
    color: #FC8DAF;	
    margin-right: 15px; 
    cursor: pointer;
}

